@page "/all-parts/{byType?}/{qualifier?}"
@using partsbin.Helpers
@using partsbin.Services
@using partsbin.BusinessLogic.Helpers
@using partsbin.BusinessLogic.Models
@using partsbin.BusinessLogic.Services
@inject NavigationManager NavigationManager;
@inject IPartService PartService;

<h3>
    All parts
    @if (ByType.HasContent())
    {
        <span>by </span>
        switch (ByType)
        {
            case "by-part-type":
                <span>part type</span>
                break;
            case "by-range":
                <span>range</span>
                break;
            case "by-part-name":
                <span>part name</span>
                break;
            case "by-manufacturer":
                <span>manufacturer</span>
                break;
            case "by-location":
                <span>location</span>
                break;
            case "by-part-number":
                <span>part number</span>
                break;
            default:
                <span>???</span>
                break;
        }
        <span>
            <em>&nbsp;@Qualifier&nbsp;</em>
            <button class="btn btn-link btn-sm"
                    @onclick="@(() => NavigationManager.NavigateTo("/all-parts"))">
                clear filter
            </button>
        </span>
    }
</h3>

<div class="row">
    <div class="container-fluid">
        @if (_parts is null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (!_parts.Any())
        {
            <div class="alert alert-info" role="alert">
                No parts have been added
            </div>
        }
        else
        {
            <div class="mt-2">
                <PartsList Parts="_parts"/>
            </div>
        }
    </div>
</div>

@code {
    private List<Part>? _parts;

    [Parameter]
    public string? ByType { get; set; }

    [Parameter]
    public string? Qualifier { get; set; }

    protected override async void OnParametersSet()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        var qualifier = Qualifier?.ToLower();

        _parts = (await PartService.GetAllParts(ByType, qualifier))
            .OrderBy(x => x.PartType)
            .ThenBy(x => x.Range)
            .ThenBy(x => x.PartName)
            .ThenBy(x => x.PartNumber)
            .ThenBy(x => x.GetFormattedValue())
            .ToList();

        StateHasChanged();
    }
}