@page "/manufacturers"
@using partsbin.Services
@using partsbin.BusinessLogic.Services
@inject IPartFieldService PartFieldService;

<h3>Manufacturers</h3>

@if (!_manufacturers.Any())
{
    <div class="alert alert-info" role="alert">
        No manufacturers have been added
    </div>
}
else
{
    <table class="table border">
        <thead>
        <tr>
            <th>Manufacturers</th>
            <th>Total quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var manufacturer in _manufacturers)
        {
            <tr>
                <td>
                    <a href="/all-parts/by-manufacturer/@manufacturer.manufacturer">
                        @manufacturer.manufacturer
                    </a>
                </td>
                <td>@manufacturer.quantity</td>
            </tr>
        }
        </tbody>
    </table>    
}

@code {
    private IEnumerable<(string manufacturer, int quantity)> _manufacturers = new List<(string, int)>();

    protected override async void OnInitialized()
    {
        _manufacturers = await PartFieldService.GetUniqueManufacturersAndCounts();
        StateHasChanged();
    }
}