@page "/part-names"
@using partsbin.Services
@using partsbin.BusinessLogic.Services
@inject IPartFieldService PartFieldService;

<h3>Part names</h3>

@if (!_partNames.Any())
{
    <div class="alert alert-info" role="alert">
        No part names have been added
    </div>
}
else
{
    <table class="table border">
        <thead>
        <tr>
            <th>Part names</th>
            <th>Total quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var partName in _partNames)
        {
            <tr>
                <td>
                    <a href="/all-parts/by-part-name/@partName.partName">
                        @partName.partName
                    </a>
                </td>
                <td>@partName.quantity</td>
            </tr>
        }
        </tbody>
    </table>    
}

@code {
    private IEnumerable<(string partName, int quantity)> _partNames = new List<(string, int)>();

    protected override async void OnInitialized()
    {
        _partNames = await PartFieldService.GetUniquePartNamesAndCounts();
        StateHasChanged();
    }
}