@using partsbin.Services
@using partsbin.BusinessLogic.Models
@using partsbin.BusinessLogic.Services
@inject IRuntimeConfigUiService RuntimeConfigUiService;
@inject IRuntimeConfigService RuntimeConfigService;

<EditForm Model="@Config"
          OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <div style="margin-top:10px">
            <label for="culture">Culture</label>
            <div class="input-group">
                <InputText id="culture"
                           class="form-control"
                           placeholder="Culture name"
                           @bind-Value="Config.CultureName"/>
                <button class="btn btn-outline-secondary"
                        @onclick:preventDefault
                        @onclick="@SelectCulture">
                    <i class="oi oi-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div style="margin-top: 10px">
            <label>Home page sections</label>
            <div class="form-check form-switch">
                <InputCheckbox
                    id="homeShowPartTypes"
                    @bind-Value="Config.HomeShowPartTypes"
                    role="switch"
                    class="form-check-input"/>
                <label class="form-check-label" for="homeShowPartTypes">
                    Part types
                </label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox
                    id="homeShowManufacturers"
                    @bind-Value="Config.HomeShowManufacturers"
                    role="switch"
                    class="form-check-input"/>
                <label class="form-check-label" for="homeShowManufacturers">
                    Manufacturers
                </label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox
                    id="homeShowLocations"
                    @bind-Value="Config.HomeShowLocations"
                    role="switch"
                    class="form-check-input"/>
                <label class="form-check-label" for="homeShowLocations">
                    Locations
                </label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox
                    id="homeShowEquipmentTypes"
                    @bind-Value="Config.HomeShowEquipmentTypes"
                    role="switch"
                    class="form-check-input"/>
                <label class="form-check-label" for="homeShowEquipmentTypes">
                    Equipment types
                </label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox
                    id="homeShowEquipmentNames"
                    @bind-Value="Config.HomeShowEquipmentNames"
                    role="switch"
                    class="form-check-input"/>
                <label class="form-check-label" for="homeShowEquipmentNames">
                    Equipment names
                </label>
            </div>
        </div>
        <div style="margin-top:10px">
            <button type="submit"
                    class="btn btn-sm btn-outline-primary">
                Update
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public required RuntimeConfig Config { get; set; }
    [CascadingParameter]
    BlazoredModalInstance? Modal { get; set; }

    private async void HandleValidSubmit()
    {
        await RuntimeConfigService.SetRuntimeConfig(Config);
        await Modal!.CloseAsync(ModalResult.Ok(Config));
    }

    private async void SelectCulture()
    {
        Config.CultureName = await RuntimeConfigUiService.SelectCulture(Config);
        StateHasChanged();
    }
}