@using partsbin.Services
@using partsbin.UiServices
@inject IPartFieldService PartFieldService;
@inject IPartUiService PartUiService;
@inject NavigationManager NavigationManager;

<h3>Locations</h3>

@if (_data is null)
{
    <p><em>Loading...</em></p>
}
else if (!_data.Any())
{
    <div class="alert alert-info" role="alert">
        No parts with a location specified have been added
    </div>
}
else
{
    <table class="table border">
        <thead>
        <tr>
            <th>Location</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _data)
        {
            <tr>
                <td>
                    <a href="/all-parts/by-location/@item.location">
                        @item.location
                    </a>
                </td>
                <td>@item.quantity</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary"
                            type="button"
                            onclick:preventDefault
                            onclick="@(() => AddPart(item.location))"
                            title="@($"Add a part stored in the {item.location} location")">
                        <i class="oi oi-plus"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        _data = PartFieldService
            .GetUniqueLocationsAndCounts()
            .OrderBy(x => x.location)
            .ToList();
        StateHasChanged();
    }

    private List<(string location, int quantity)>? _data;

    private async void AddPart(string location)
    {
        var part = await PartUiService.AddPart(location: location);

        if (part is not null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}