@inherits LayoutComponentBase

<PageTitle>partsbin</PageTitle>
<BlazoredToasts/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 search-bar">
            hmm what to do here...
            I guess the search bar...
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </div>
</div>

