@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>partsbin</PageTitle>
<BlazoredToasts Position="ToastPosition.BottomRight"/>

<div class="page">
    <div class="table">
        <div class="row">
            <div class="col-12">
                <Main_NavigationComponent/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}