.well.pull-left {
	margin-right: 1em;
}
.well.pull-right {
	margin-left: 1em;
}

img.pull-right {
	float: right;
	border: 1px solid #888;
	margin: 0 0 1em 1em;
}
img.pull-left {
	float: left;
	border: 1px solid #888;
	margin: 0 1em 1em 0;
}