@using partsbin.Helpers
@using partsbin.Logic.Helpers
@using partsbin.Services.Models
@inject IModalService ModalService;

<img src="/api/file/@Image.FileId"
     alt="@Image.FileName"
     class="img-fluid"/>

<div>
    <h4>Notes</h4>
    @if (Image.HtmlNotes.HasContent())
    {
        @((MarkupString)Image.HtmlNotes)
    }
    else
    {
        <p>No notes have been recorded</p>
    }
</div>
<button class="btn btn-outline-primary btn-sm"
        @onclick="@EditNotes">
    <i class="oi oi-pencil"></i> Edit notes
</button>

@code {
    [Parameter]
    public required Image Image { get; set; }

    private async Task EditNotes()
    {
        var parameters = new ModalParameters
        {
            { "Image", Image }
        };
        var options = new ModalOptions
        {
            Position = ModalPosition.Middle
        };
        var modal = ModalService.Show<GalleryNotesEditorModal>(
            $"Edit notes for {Image.FileName}",
            parameters,
            options);
        await modal.Result;
    }
}