@inject IModalService ModalService;

<img src="@Base64Url"
     alt="@Image.FileName"
     class="img-fluid"/>

<div>
    @((MarkupString)Image.HtmlNotes)
</div>
<button class="btn btn-outline-primary btn-sm"
        @onclick="@EditNotes">
    <i class="oi oi-pencil"></i> Edit
</button>

@code {
    [Parameter]
    public required string Base64Url { get; set; }
    [Parameter]
    public required Image Image { get; set; }

    private async Task EditNotes()
    {
        var parameters = new ModalParameters
        {
            { "Image", Image }
        };
        var options = new ModalOptions
        {
            Position = ModalPosition.Middle
        };
        var modal = ModalService.Show<GalleryNotesEditorModal>(
            $"Edit notes for {Image.FileName}",
            parameters,
            options);
        await modal.Result;
    }
}