@using partsbin.Services
@inject NavigationManager NavigationManager;
@inject IPartUiService PartUiService; 

<button class="btn btn-success"
        @onclick="@AddPart">
    <span class="oi oi-plus" aria-hidden="true"></span>
    Add a part
</button>

@code {
    private async Task AddPart()
    {
        var part = await PartUiService.AddPart();

        if (part is not null)
        {
            NavigationManager.NavigateTo(
                $"/part/{part.Id}",
                forceLoad: true);
        }
    }
}