@page "/admin"
@using partsbin.Services
@using partsbin.BusinessLogic.Services
@inject IPartSearchService PartSearchService
@inject IToastService ToastService;
@inject IPartService PartService;
@inject IRuntimeConfigService RuntimeConfigService;
@inject IModalService ModalService;

<h3>Administration</h3>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reindex search</h5>
                <p class="card-text">
                    This will reindex all of the parts in the application 
                    for the search function. It may take some time if the 
                    parts collection is large. Your parts won't be affected.
                </p>
                <p>
                    You may need to do this if parts have been added or
                    updated and the usual indexing was broken for some
                    reason, such as from a buggy release (sorry!).
                </p>
                <button class="btn btn-warning"
                        @onclick:preventDefault
                        @onclick="@TriggerReindex">
                    Start reindexing parts
                </button>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bulk rename location</h5>
                <p class="card-text">
                    This lets you rename the location for all parts in that location
                    at once.
                </p>
                <button class="btn btn-warning"
                        @onclick:preventDefault
                        @onclick="@BulkRenameLocation">
                    Bulk rename location
                </button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">partsbin</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Docs, support, and contributing
                </h6>
                <p>
                    <a class="card-link"
                       href="https://partsbin.page"
                       target="_blank">
                        partsbin.page
                    </a>
                    <a class="card-link"
                       href="https://github.com/becdetat/partsbin"
                       target="_blank">GitHub</a>
                    <a class="card-link"
                       href="https://github.com/becdetat/partsbin/issues"
                       target="_blank">Issues</a>
                    <a class="card-link"
                       href="https://becdetat.com"
                       target="_blank">
                        becdetat.com
                    </a>
                </p>
                <p>
                    Please add suggestions and ideas to the 
                    <a href="https://github.com/becdetat/partsbin/issues"
                       target="_blank">Issues page</a>
                    in the
                    <a href="https://github.com/becdetat/partsbin"
                       target="_blank">partsbin repository</a>
                    on GitHub. Also check out the 
                    <a href="https://github.com/users/becdetat/projects/3/views/4"
                       target="_blank">
                        project backlog
                    </a>
                    to see the very tentative roadmap.
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Runtime configuration</h5>
                <p>
                    
                    <button type="button"
                            class="btn btn-primary"
                            @onclick:preventDefault
                            @onclick="@EditRuntimeConfiguration">
                        Edit configuration
                    </button>
                </p>
                <p>
                    <a href="/swagger/index.html">Swagger</a>
                </p>
            </div>
        </div>
    </div>
</div>

@code {

    private async Task TriggerReindex()
    {
        ToastService.ShowInfo("Clearing search index");
        PartSearchService.ClearIndex();
        
        var parts = (await PartService.GetAllParts())
            .ToArray();

        ToastService.ShowInfo($"Reindexing {parts.Length} parts");
        foreach (var part in parts) PartSearchService.IndexPart(part);
        
        ToastService.ShowSuccess($"Completed reindexing {parts.Length} parts");
    }

    private async Task EditRuntimeConfiguration()
    {
        var config = await RuntimeConfigService.GetRuntimeConfig();
        var parameters = new ModalParameters
        {
            { "Config", config }
        };
        var modalOptions = new ModalOptions
        {
            DisableBackgroundCancel = true
        };
        var modal = ModalService.Show<EditRuntimeConfigModal>(
            "Edit configuration",
            parameters,
            modalOptions);
        var result = await modal.Result;

        if (!result.Confirmed) return;
        
        ToastService.ShowSuccess("Runtime configuration updated");
    }

    private async Task BulkRenameLocation()
    {
        var modalOptions = new ModalOptions { DisableBackgroundCancel = true };
        var modal = ModalService.Show<BulkRenameLocationModal>(
            "Bulk rename location",
            modalOptions);
        var result = await modal.Result;

        if (!result.Confirmed) return;

        var count = (int?)result.Data;

        ToastService.ShowSuccess($"Location was updated in {count ?? -1} parts");
    }
}