@using partsbin.Services
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Html
@using partsbin.Helpers
@using partsbin.Shared
@inject IPartService PartService;

<EditForm Model="Part"
          OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <div style="margin-top:10px">
            <QuillEditor @ref="@_quillEditor"
                         Placeholder="Enter notes here">
                <ToolbarContent>
                    <span class="ql-formats">
                        <select class="ql-font">
                            <option selected=""></option>
                            <option value="serif"></option>
                            <option value="monospace"></option>
                        </select>
                        <select class="ql-size">
                            <option value="small"></option>
                            <option selected=""></option>
                            <option value="large"></option>
                            <option value="huge"></option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                        <select class="ql-align">
                            <option selected=""></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-image"></button>
                    </span>
                </ToolbarContent>
                <EditorContent></EditorContent>
            </QuillEditor>
        </div>
        <div style="margin-top:10px">
            <button class="btn btn-outline-primary"
                    type="submit">
                Save
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public Part? Part { get; set; }
    [CascadingParameter]
    BlazoredModalInstance? Modal { get; set; }

    private bool _contentLoaded = false;
    QuillEditor? _quillEditor;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_quillEditor is null) return;
        if (_contentLoaded) return;

        if (Part!.Notes.HasContent())
        {
            await _quillEditor.LoadContent(Part!.Notes);
        }

        _contentLoaded = true;
    }

    private async void HandleValidSubmit()
    {
        Part!.Notes = await _quillEditor!.GetContent();
        Part.HtmlNotes = await _quillEditor.GetHtml();
        
        PartService.UpdatePart(Part);
        
        await Modal!.CloseAsync(ModalResult.Ok());
    }
}