@page "/"
@inject IModalService _modalService
@inject IToastService _toastService

<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Part types and ranges</h1>
            </div>
            <div class="col-2 text-sm-right">
                <button @onclick="AddPart" class="btn btn-info">
                    <i class="oi oi-plus"></i> Add a part
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <p><em>Loading...</em></p>
        <div class="mt-2">
            <table class="table border">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Range</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/part-type/capacitor">capacitor</a></td>
                        <td><a href="/part-type/capacitor/range/electrolytic">electolytic</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {
    private async void AddPart()
    {
        var parameters = new ModalParameters();
        var modal = _modalService.Show<AddPartModal>("Add part", parameters);
        var result = await modal.Result;

        if (result.Cancelled || result.Data is null)
    {
            return;
    }

        var part = result.Data as Part;

        _toastService.ShowSuccess($"Added part '{part?.Description ?? "<null>"}'");
    }
}


