@page "/"
@using partsbin.Shared.Equipment;

<div class="row">
    <div class="col-12">
        <h3>Home</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <HomePartTypes/>
    </div>
    <div class="col-lg-4 col-md-12">
        <HomeManufacturers/>
    </div>
    <div class="col-lg-4 col-md-12">
        <HomeLocations/>
    </div>
</div>

<div class="row">
    <div class="col-lg-12"><h4>Equipment</h4></div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12">
        <HomeEquipmentTypes/>
    </div>
    <div class="col-lg-4 col-md-12">
        <HomeEquipmentNames/>
    </div>
</div>

@code {
}