@page "/part-types"
@using partsbin.Services
@inject IPartFieldService PartFieldService;

<h3>Part types</h3>

@if (!_partTypes.Any())
{
    <div class="alert alert-info" role="alert">
        No parts types have been added
    </div>
}
else
{
    <table class="table border">
        <thead>
        <tr>
            <th>Part type</th>
            <th>Total quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var partType in _partTypes)
        {
            <tr>
                <td>
                    <a href="/all-parts/by-part-type/@partType.partType">
                        @partType.partType
                    </a>
                </td>
                <td>@partType.quantity</td>
            </tr>
        }
        </tbody>
    </table>    
}

@code {
    private IEnumerable<(string partType, int quantity)> _partTypes = new List<(string, int)>();

    protected override void OnInitialized()
    {
        _partTypes = PartFieldService.GetUniquePartTypesAndCounts();
    }
}